<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <property name="defaultPattern" value="%d{HH:mm:ss.SSS} %-5level - %msg%n%xEx{short}" />

  <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>${defaultPattern}</pattern>
    </encoder>
  </appender>

  <property name="root-file-name" value="root" />
  <appender name="root-file" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>logs/${root-file-name}.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>logs/${root-file-name}-%d{yyyy-MM-dd}-%i.log.zip</fileNamePattern>
      <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <maxFileSize>1KB</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
      <maxHistory>7</maxHistory>
    </rollingPolicy>
    <encoder>
      <pattern>${defaultPattern}</pattern>
    </encoder>
  </appender>

  <root level="info">
    <appender-ref ref="console" />
    <appender-ref ref="root-file" />
  </root>

  <logger name="rs" level="debug" />

</configuration>